@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	scroll-behavior: smooth;
}

@layer base {
	html {
		font-size: 12px;
	}

	@media (min-width: 640px) {
		html {
			font-size: 14px;
		}
	}

	@media (min-width: 1024px) {
		html {
			font-size: 16px;
		}
	}
}

/* TAILWIND - custom classes */

.border-t-12 {
	border-top-width: 12px;
}

.border-1 {
	border-width: 1px;
}

.w-1\/8 {
	width: 12.5%;
}

.border-l-12 {
	border-left-width: 12px;
}

html,
.li-color ::marker {
	color: #b7a71d;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #3c3d37;
}

::-webkit-scrollbar-track {
	margin-top: 2px;
	margin-bottom: 3px;
	background-color: #3c3d37;
}

::-webkit-scrollbar-thumb {
	margin-top: 10px;
	background-color: #161513;
	border-radius: 10px;

	border-top: 4px solid #b7a71d;
	border-bottom: 4px solid #b7a71d;
	border-left: 1px solid #2b2b27;
}

.h-22 {
	height: 5.5rem;
}

.pt-1_5 {
	padding-top: 0.375rem;
}

.w-1\/24 {
	width: 4.1666667%;
}

.w-2\/24 {
	width: 8.3333333%;
}

.w-3\/24 {
	width: 12.5%;
}

.w-4\/24 {
	width: 16.6666667%;
}

.w-5\/24 {
	width: 20.8333333%;
}

.w-6\/24 {
	width: 25%;
}

.w-7\/24 {
	width: 29.1666667%;
}

.w-8\/24 {
	width: 33.3333333%;
}

.w-9\/24 {
	width: 37.5%;
}

.w-10\/24 {
	width: 41.6666667%;
}

.w-11\/24 {
	width: 45.8333333%;
}

.w-12\/24 {
	width: 50%;
}

.w-13\/24 {
	width: 54.1666667%;
}

.w-14\/24 {
	width: 58.3333333%;
}

.w-15\/24 {
	width: 62.5%;
}

.w-16\/24 {
	width: 66.6666667%;
}

.w-17\/24 {
	width: 70.8333333%;
}

.w-18\/24 {
	width: 75%;
}

.w-19\/24 {
	width: 79.1666667%;
}

.w-20\/24 {
	width: 83.3333333%;
}

.w-21\/24 {
	width: 87.5%;
}

.w-22\/24 {
	width: 91.6666667%;
}

.w-23\/24 {
	width: 95.8333333%;
}

.w-24\/24 {
	width: 100%;
}

.min-w-xs {
	min-width: 20rem;
}

.min-w-sm {
	min-width: 24rem;
}

.min-w-md {
	min-width: 28rem;
}

.min-w-lg {
	min-width: 32rem;
}

.min-w-xl {
	min-width: 36rem;
}

.min-w-2xl {
	min-width: 42rem;
}

.min-w-3xl {
	min-width: 48rem;
}

.min-w-4xl {
	min-width: 56rem;
}

.min-w-5xl {
	min-width: 64rem;
}

.min-w-6xl {
	min-width: 72rem;
}

.min-w-7xl {
	min-width: 80rem;
}
